<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="701786400544-snbgqlc313heequh9el0hd94d5crtmck.apps.googleusercontent.com">
    <title>Lumbermill POC</title>
    <link type="text/css" rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.4.0/metisMenu.min.css">

  </head>

  <header ng-controller="navigation">
          <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          	 <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>

  		        	<h1 class="lumbermill-logo">Lumbermill</h1>

  	       </div>
              <!-- /.navbar-header -->
   			      <!-- Collect the nav links, forms, and other content for toggling -->
      		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right"  ng-show="authenticated">

                  <!-- /.dropdown -->
                  <!-- /.dropdown -->
                  <!-- /.dropdown -->
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-user">
                          <li><a href=""><i class="fa fa-user fa-fw"></i> User Profile</a>
                          </li>
                          <li><a href=""><i class="fa fa-gear fa-fw"></i> Settings</a>
                          </li>
                          <li role="separator" class="divider"></li>
                          <li><a href="" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                          </li>
                      </ul>
                      <!-- /.dropdown-user -->
                  </li>
                  <!-- /.dropdown -->
              </ul>
              <!-- /.navbar-top-links -->




    <!-- view-source:http://blackrockdigital.github.io/startbootstrap-sb-admin-2/pages/index.html# -->
    		</div> <!-- navbar-collapse -->
    		</div> <!-- .container-fluid -->
        </nav>


  </header>
  <div ng-view class="container">
    <div class="row">
      <p>Lumbermill POC Signin Options</p>
    </div>
    <div class="row">
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
      <br/>

      <h1>TwitchTV SDK Example App</h1>
         <div class="status">
           Status: <input readonly="readonly" size="60" val="Unknown"/>
         </div>
         <div class="authenticate hidden">
           <img src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png" class="twitch-connect" href="#" />
         </div>

         <h2 class="authenticated hidden">Authenticated</h2>
         <div class="authenticated hidden">
           <div id="logout">
             <button>Log Out</button>
           </div>

           <div id="get-name">
             <button>Get TwitchTV Name</button>
             <input readonly="readonly" size="50" value="Unknown"/>
           </div>

           <div id="get-stream-key">
             <button>Get TwitchTV Stream Key</button>
             <input readonly="readonly" size="50" value="Unknown"/>
           </div>

         </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.6.6.min.js"></script>

    <!--script src="../react-15.0.1/build/react.js"></script>
    <script src="../react-15.0.1/build/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script type="text/javascript" src="authcomp.js"></script-->

  	<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script-->
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.4.0/metisMenu.min.js"></script>

    <script type="text/javascript" src="js/main.js"></script>

</html>
